@function r($rem) {
  @return $rem / 640 * 3.2 * 1rem;
}

.intr-page {
  max-height: r(1256);
    
  min-height: r(1006);
  background: #fff;
  > .bg{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center 70%
  }
  .logo{
    position: absolute;
    bottom: r(36);
    display: block;
    left: 50%;
    width: r(59);
    margin-left: r(-59 * .5);
  }
  .page-container {
    position: relative;
    z-index: 1;
  }
  .kv{
    width: 100%;
    display: block;
  }
  .next{
    position: absolute;
    left: r(382);
    top: r(649);
    width: r(239);
    img{
      display: block;
      width: 100%;
    }
  }
  &.prev-animation{
    .page-container{
      animation: page-intr-prev-animation .5s .8s forwards;
      transform: translate(100%);
      @keyframes page-intr-prev-animation {
        0%{
          transform: translate(100%);
        }
        90%{
          transform: translate(-20%);
        }
        100%{
          transform: translate(0);
        }
      }
    }
  }
  &.next-animation{
    .next{
      animation: page-intr-go-next-animation .3s 0s forwards;
      @keyframes page-intr-go-next-animation {
        0%{
          transform: scale(1);
          opacity: 1;
        }
        100%{
          transform: scale(1.2);
          opacity: 0;
        }
      }
    }
    .kv{
      animation: page-intr-kv-animation .3s .3s forwards;
      @keyframes page-intr-kv-animation {
        0%{
          transform: translate3d(0, 0, 0);
        }
        100%{
          transform: translate3d(100%, 0, 0);
        }
      }
    }
    .bg{
      animation: page-intr-bg-animation .6s .6s  forwards;
      @keyframes page-intr-bg-animation {
        0%{
          transform: scale(1);
          opacity: 1;
        }
        100%{
          transform: scale(10);
          opacity: .3;
        }
      }
    }
  }
}