@function r($rem) {
  @return $rem / 640 * 3.2 * 1rem;
}

.load-page {
  max-height: r(1256);
    
  min-height: r(1006);
  > img.bg{
    position: absolute;
    top: 0;
    left: 0;
  }
  .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#7796ef, .7);
  }
  .logo{
    position: absolute;
    bottom: r(36);
    display: block;
    left: 50%;
    width: r(59);
    margin-left: r(-59 * .5);
  }
  .page-container {
    position: relative;
    z-index: 1;
    padding-top: r(260);
    .precent-image{
      $rotate: -2deg;
      width: 100%;
      font-size: 0;
      text-align: center;
      transform: rotate($rotate);
      height: r(77);
      img{
        transform: rotate(-$rotate);
        width: r(90);
        height: r(77);
        display: inline-block;
        vertical-align: bottom;
        margin-left: r(-14);
      }
      canvas{
        // transform: rotate(-$rotate);
        display: block;
        height: r(77);
        margin: 0 auto;
      }
      .precent{
        height: r(25);
        width: r(32);
        margin-bottom: r(10);
      }
    }
    .title{
      width: 100%;
      font-size: r(24);
      color: #fff;
      text-align: center;
      margin-top: r(15);
    }
    .soccer{
      width: r(207);
      height: r(207);
      margin: r(20) auto 0;
      img{
        display: block;
        width: 100%;
        height: 100%;
        animation: page-load-soccer linear 3s infinite;
        @keyframes page-load-soccer {
          0%{
            transform: rotate(0);
          }
          100%{
            transform: rotate(-360deg)
          }
        }
      }
    }
  }
  &.prev-animatin{
    .page-container{
      animation: page-intr-prev-animation .3s .6s forwards;
      transform: translate(100%);
      @keyframes page-intr-prev-animation {
        0%{
          transform: translate(100%);
        }
        90%{
          transform: translate(-20%);
        }
        100%{
          transform: translate(0);
        }
      }
    }
  }
}