@function r($rem) {
  @return $rem / 640 * 3.2 * 1rem;
}

.game-page {
  max-height: r(1256);

  min-height: r(1006);
  
  .page-container {
    position: relative;
    z-index: 1;
  }
  .game-container{
    height: 100%;
    width: 100%;
    position: relative;
    > .bg{
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0, r(-3175));
      img{
        display: block;
        width: 100%;
      }
    }
    .score{
      $rotate: -2deg;
      transform: rotate($rotate);
      position: absolute;
      top: r(30);
      left: r(30);
      font-size: 0;
      z-index: 10;
      animation: score-show-animation .5s forwards alternate;
      img{
        height: r(50);
        display: inline-block;
        vertical-align: top;
        transform: rotate(-$rotate);
        margin-left: r(-14);
      }
      @keyframes score-show-animation {
        0%{
          transform: rotate(-$rotate) scale(1.2);
        }
        100%{
          transform: rotate(-$rotate);
        }
      }
    }
    canvas{
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }
  .logo{
    position: absolute;
    z-index: 10;
    bottom: r(36);
    right: r(36);
    display: block;
    width: r(59);
  }
  .float-bg{
    background: rgba(#7796ef, .95);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
  }
  .game-stop-float{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    .stop-kv-image{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .top5-elem{
      $width: 364;
      position: absolute;
      left: r(142);
      top: r(454);
      width: r($width);
      height: r(160);
      color: #ffc200;
      font-size: 0;
      .no-rank{
        font-size: r(20);
        text-align: center;
        color: #fff;
      }
      .top5-item{
        margin-bottom: r(12);
        white-space: nowrap;
      }
      .top5-rank{
        display: inline-block;
        vertical-align: top;
        height: r(24);
        width: r(31);
      }
      .top5-name{
        display: inline-block;
        vertical-align: top;
        font-size: r(22);
        line-height: r(24);
        margin-left: r(20);
        width: r(168);
        word-wrap: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .top5-score{
        margin-left: r(20);
        display: inline-block;
        vertical-align: top;
        font-size: r(22);
        line-height: r(24);
        text-align: right;
        width: r($width - 31 - 20 - 168 - 20);
        word-wrap: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .stop-score{
      position: absolute;
      left: r(203);
      top: r(255);
      width: r(260);
      font-size: 0;
      $rotate: -3deg;
      transform: rotate($rotate);
      text-align: center;
      white-space: nowrap;
      > div{
        display: inline-block;
        vertical-align: top;
        transform-origin: 0 center;
      }
      img{
        width: r(74);
        height: r(58);
        display: inline-block;
        vertical-align: top;
        transform: rotate(-$rotate);
      }
      img + img{
        margin-left: r(-14);
      }
    }
    .game-restart{
      position: absolute;
      left: r(408);
      top: r(754);
      width: r(159);
      height: r(117);
    }
    .invite-friends{
      position: absolute;
      left: r(211);
      top: r(780);
      width: r(150);
      height: r(58);
    }
    .see-prize{
      position: absolute;
      left: r(211);
      top: r(858);
      width: r(150);
      height: r(73);
    }
  }
  .record-phone-float{
    display: none;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .record-phone-kv{
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      width: 100%;
      .record-phone-kv-image{
        width: 100%;
        display: block;
        margin: 0;
      }
      .icon-close{
        position: absolute;
        top: r(294);
        left: r(564);
        width: r(50);
        height: r(50);
      }
      .submite-phone{
        position: absolute;
        top: r(675);
        left: r(413);
        width: r(171);
        height: r(136);
      }
      .phone-input{
        padding: 0;
        margin: 0;
        border: 0;
        position: absolute;
        top: r(462);
        left: r(320);
        width: r(244);
        height: r(34);
        background: transparent;
        transform: rotate(-4deg);
        font-size: r(30);
        line-height: r(34);
        color: #fff;
        border-radius: 0;
      }
      .phone-input::placeholder{
        color: #c5c5c5;
        font-size: r(26);
      }
      b{
        font-weight: bold;
      }
    }
    .prize-instructions{
      font-size: r(24);
      position: absolute;
      left: r(58);
      top: r(527);
      width: r(548);
      // height: r(158);
      transform: rotate(-3deg);
      color: #fff;
      line-height: 1.5;
    }
  }
  .invite-friends-float{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    .invite-friends-kv-image{
      display: block;
      width: 100%;
      margin: 0;
    }
  }
  &.game-stopped{
    .score{
      display: none;
    }
    .logo{
      bottom: auto;
      right: auto;
      top: r(36);
      left: r(36);
    }
    .float-bg, .game-stop-float{
      display: block;
    }
  }
  &.game-record-phone{
    .game-stop-float{
      z-index: 4;
    }
    .float-bg, .record-phone-float{
      display: block;
    }
  }
  &.game-invite-friends{
    .game-stop-float{
      z-index: 4;
    }
    .float-bg{
      z-index: 15;
    }
    .float-bg, .invite-friends-float{
      display: block;
    }
  }
}
