@function r($rem) {
  @return $rem / 640 * 3.2 * 1rem;
}

.demo-page {
  max-height: r(1256);

  min-height: r(1006);
  > .bg{
    position: absolute;
    top: 0;
    left: 0;
  }
  .page-container {
    position: relative;
    z-index: 1;
  }
}